@import "tailwindcss";

@theme {
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-background-dark: #0f172a;
  --color-surface-dark: #1e293b;
}

@layer base {
  body {
    @apply bg-background-dark text-slate-200 antialiased;
  }
}
